<?xml version="1.0" encoding="UTF-8"?>

<Data>
	<Width>3000</Width>
	<Height>1900</Height>
	<TileW>300</TileW>
	<TileH>190</TileH>
	<GridW>90</GridW>
	<GridH>45</GridH>
	<Battle>0</Battle>
	
	<InvisibleMineScript>InvisibleMineScript4</InvisibleMineScript>
	
	<InitMapScript>InitMapScript4</InitMapScript>
</Data>